body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  background
} */

#home-header-summary {
  /* color: rgb(25, 184, 205); */
  width: 600px;
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* #home-header-signin{
  color: rgb(25, 184, 205);
} */

.list-group{
  width: 600px;
  margin-left: 150px;
}

/* .list-group-item{
  color: rgb(25, 184, 205);
} */

#features-include-header{
  /* color: rgb(25, 184, 205); */
  width: 460px;
  margin-top: 30px;
}

#family_recipes_header {
  text-align: center;
  background-color:rgb(25, 184, 205);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto 1rem;
  position: sticky;
  letter-spacing: 0.1em;
  font-weight: bolder;
  color: white;
  text-decoration-line: underline;
}

.btn {
  background-color:rgb(25, 184, 205);
  color: white;
  font-weight: bolder;
}

#add-recipe-fixed {
 width: 800px;
 margin: 0 auto 1rem;
}

#edit-recipe-fixed {
  width: 800px;
  margin: 0 auto 1rem;
}

#home-position {
  width: 900px;
  margin: auto;
}

#middle-image-home{
margin-right: 10px;
margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.recipe-form {
  width: 800px;
  position: center;
  padding-left: 20px;
}

.recipe-form-h3 {
  text-align: left;
  padding-top: 15px;
  color: rgb(25, 184, 205);
}

.recipe-card-headers {
  color: rgb(25, 184, 205);
}

.recipe-comment-headers {
  color: rgb(25, 184, 205);
}

#preview-title {
  color: rgb(25, 184, 205);
}

.login-signup-headers {
  color: rgb(25, 184, 205);
}

#error{
  color:rgb(206, 30, 30);
}

#edit-recipe-button {
  position: absolute;
  margin-top: 10px;
  top: 650px;
  left: 330px;
}

#delete-recipe-button {
  position: absolute;
  margin-top: 10px;
  top: 650px;
  right: 330px;
}

#confirm-edit-button {
  margin-right: 5px;
}

#cancel-edit-button {
  margin-left: 5px;
}

#ingredients-h3 {
  margin-top: 30px;
}

#comments-h3 {
  margin-top: 30px;
}

#comment-input {
  display: block;
  width: 50%;
  resize: both;
  min-height: 100px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#edit-text-area {
  display: block;
  width: 50%;
  resize: both;
  min-height: 100px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#add-comment {
  margin-right: 10px;
}

#close-comment {
  margin-left: 10px;
}

#edit-comment-button {
  position: static;
}

#delete-comment-button {
  position: static;
}

#all_categories {
  border: 2px solid #333;
  border-radius: 0.5rem;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto 1rem;
  color: rgb(25, 184, 205);
}

#categories {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  line-height: 0.25rem;
  border-top: 1px solid #333;
}

#recipe-image {
  width: 450px;
  height: 500px;
  text-align: center;
  padding: 25px;
} 
